<f:be.container addCssFile="{f:uri.resource(path:'Css/backend.css')}">

	<div id="typo3-docheader">
		<div class="typo3-docheader-functions">
			<div class="docheader-funcmenu">
				<f:be.menus.actionMenu>
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.check')}" controller="Module" action="check" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.summary')}" controller="Module" action="summary" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.importUsers')}" controller="Module" action="importUsers" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.updateUsers')}" controller="Module" action="updateUsers" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.importAndUpdateUsers')}" controller="Module" action="importAndUpdateUsers" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.deleteUsers')}" controller="Module" action="deleteUsers" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'action.checkLogin')}" controller="Module" action="checkLogin" />
				</f:be.menus.actionMenu>
			</div>
		</div>
	</div>
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			<f:render section="content" />
		</div>
	</div>

</f:be.container>