/**
 * @group: Structure
 */

div.collapsibleSection { background-color: #ededed; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #cdcdcd; padding: 12px; margin-bottom: 24px; }

/**
 * @end
 */

/**
 * @group: Form
 */

form label { float: left; height: 20px; line-height: 20px; margin-right: 10px; width: 160px; }
form div { clear: both; margin-bottom: 5px; }

form .field-row,
form .button-row { clear: both; margin-bottom: 10px; }
form .submit { margin-left: 100px; clear: both; margin-top: 0.5em; }

fieldset {
	padding: 1em;
	border: none;
}

/**
 * @end
 */

/**
 * @group: Paginate
 */

.f3-widget-paginator { display: block; float: left; margin: 0 0 10px; }

.f3-widget-paginator li { display: block; float: left; }

.f3-widget-paginator li.current { font-weight: bold; }

.f3-widget-paginator li a { text-decoration: none !important; padding-left: 7px; padding-right: 7px; }

.f3-widget-paginator li.disabled { padding-left: 13px; padding-right: 13px; }

/**
 * @end
 */