/**
 * @group: Structure
 */

div.collapsibleSection { background-color: #ededed; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #cdcdcd; padding: 12px; margin-bottom: 24px; }

/**
 * @end
 */

/**
 * @group: Form
 */

form label { float: left; height: 20px; line-height: 20px; margin-right: 10px; width: 160px; }
form div { clear: both; margin-bottom: 5px; }

form .field-row,
form .button-row { clear: both; margin-bottom: 10px; }
form .submit { margin-left: 100px; clear: both; margin-top: 0.5em; }

fieldset {
	padding: 1em;
	border: none;
}

/**
 * @end
 */

 .userlist {
 	display: block;
 	clear: both;
 	overflow: auto;
 	margin-bottom: 1em;
 }