{namespace ldap = NormanSeibert\Ldap\ViewHelpers}

<div class="col-6">

	<f:form action="{action}" controller="Module" objectName="formSettings" object="{formSettings}">

		<f:if condition="{0:action} == {0:'doDeleteUsers'}">
			<f:then>
				<f:form.hidden
					id="useServers"
					value=""
					property="useServers"
				/>
			</f:then>
			<f:else>
				<fieldset>
					<div class="form-group">
						<label><f:translate key="form.useServers" /></label>
						<f:form.select
							id="useServers"
							class="form-control"
							property="useServers"
							options="{ldapServers}"
							optionValueField="uid"
							optionLabelField="longName"
							size="5"
							multiple="multiple"
						/>
					</div>
				</fieldset>
			</f:else>
		</f:if>
		
		<fieldset>
			<div class="form-group">
				<label><f:translate key="form.frontend" /></label>
				<div class="form-check form-toggle">
					<f:form.checkbox
						id="authenticateFe"
						property="authenticateFe"
						value="1"
					/>
				</div>
			</div>
			<div class="form-group">
				<label><f:translate key="form.backend" /></label>
				<div class="form-check form-toggle">
					<f:form.checkbox
						id="authenticateBe"
						property="authenticateBe"
						value="1"
					/>
				</div>
			</div>
		</fieldset>
		
		<f:if condition="{0:action} == {0:'doDeleteUsers'}">
			<f:then>
				<fieldset>
					<div class="form-group">
						<label><f:translate key="form.deactivate" /></label>
						<div class="form-check form-toggle">
							<f:form.checkbox
								id="hideNotDelete"
								property="hideNotDelete"
								value="1"
							/>
						</div>
					</div>
					<div class="form-group">
						<label><f:translate key="form.deleteNonLdapUsers" /></label>
						<div class="form-check form-toggle">
							<f:form.checkbox
								id="deleteNonLdapUsers"
								property="deleteNonLdapUsers"
								value="1"
							/>
						</div>
					</div>
				</fieldset>
			</f:then>
			<f:else>
				<f:form.hidden
					id="hideNotDelete"
					value="0"
					property="hideNotDelete"
				/>
				<f:form.hidden
					id="deleteNonLdapUsers"
					value="0"
					property="deleteNonLdapUsers"
				/>
			</f:else>
		</f:if>

		<div class="btn-group">
			<f:form.submit value="{f:translate(key: 'form.start')}" class="btn btn-default" />
		</div>
		
	</f:form>

</div>
