{namespace ldap = NormanSeibert\Ldap\ViewHelpers}

<tr class="db_list_normal">
	<td class="col-icon">
		<a href="#" onClick="showClickmenu('be_users', '{user.uid}', '1', '', '', ''); return false;" title="id={user.uid}">
			<ldap:spriteIconForRecord table="be_users" object="{user}" />
		</a>
	</td>
	<td>
		<b>{user.username}</b>
	</td>
	<td>
		{user.name}
	</td>
	<td>
		{user.email}
	</td>
	<td>
		<f:for each="{user.usergroup}" as="group" iteration="i">
			{group.title}
			<f:if condition="{i.isLast}">
				<f:then></f:then>
				<f:else>, </f:else>
			</f:if>
		</f:for>
	</td>
	<td>
		{user.serverUid}
	</td>
	<td>
		{user.dn}
	</td>
</tr>