<f:layout name="Backend"/>

<f:section name="content">
	
	<h1><f:translate key="headline.importAndUpdateUsers" /></h1>
	
	<f:flashMessages renderMode="div" />
	
	<f:comment>
		Settings section
	</f:comment>

	<f:render partial="Module/ConfigLdapAction" arguments="{action: 'doImportAndUpdateUsers', formSettings: formSettings, ldapServers: ldapServers}" />
	
	<f:comment>
		Resulting user records
	</f:comment>
	
	<h3><f:translate key="headline.importAndUpdateResults" /></h3>
	
	<f:if condition="{formSettings.authenticateFe}">
		<div class="userlist">
			<h4><f:translate key="headline.fe_users" /></h4>
			<f:widget.paginate objects="{fe_users}" as="paginatedUsers" configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 1}">
				<f:render partial="Module/ListTable" arguments="{formSettings: formSettings, users: paginatedUsers, dateFormat: dateFormat, timeFormat: timeFormat, returnUrl: returnUrl}" />
			</f:widget.paginate>
		</div>
	</f:if>
	
	<f:if condition="{formSettings.authenticateBe}">
		<div class="userlist">
			<h4><f:translate key="headline.be_users" /></h4>
			<f:widget.paginate objects="{be_users}" as="paginatedUsers" configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 1}">
				<f:render partial="Module/ListTable" arguments="{formSettings: formSettings, users: paginatedUsers, dateFormat: dateFormat, timeFormat: timeFormat, returnUrl: returnUrl}" />
			</f:widget.paginate>
		</div>
	</f:if>
	
</f:section>