<f:layout name="Backend"/>

<f:section name="content">

	<h1><f:translate key="headline.summary" /></h1>
	
	<f:flashMessages />
	
	<table border="0" class="table table-striped" style="width: 100%">
		<thead>
			<tr>
				<th rowspan="2"><f:translate key="header.uid" /></th>
				<th rowspan="2"><f:translate key="header.hostPort" /></th>
				<th colspan="3">FE</th>
				<th colspan="3">BE</th>
			</tr>
			<tr>
				<th><f:translate key="header.baseDn" /></th>
				<th><f:translate key="header.filter" /></th>
				<th><f:translate key="header.users" /></th>
				<th><f:translate key="header.baseDn" /></th>
				<th><f:translate key="header.filter" /></th>
				<th><f:translate key="header.users" /></th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{ldapServers}" as="serverRecord">
			<tr>
				<td>{serverRecord.server.configuration.uid} ({serverRecord.server.configuration.title})</td>
				<td>{serverRecord.server.configuration.host}:{serverRecord.server.configuration.port}</td>
				<td>{serverRecord.server.configuration.feUserRules.baseDN}</td>
				<td>{serverRecord.server.configuration.feUserRules.filter}</td>
				<td>
					<f:for each="{serverRecord.feUsers}" as="user">
						<p>
							<b>{user.dn}</b>
							<ul>
								<f:for each="{user.attributes}" as="value" key="attribute">
									<li>{attribute}: {value}</li>
								</f:for>
							</ul>
						</p>
					</f:for>
				</td>
				<td>{serverRecord.server.configuration.beUserRules.baseDN}</td>
				<td>{serverRecord.server.configuration.beUserRules.filter}</td>
				<td>
					<f:for each="{serverRecord.beUsers}" as="user">
						<p>
							<b>{user.dn}</b>
							<ul>
								<f:for each="{user.attributes}" as="value" key="attribute">
									<li>{attribute}: {value}</li>
								</f:for>
							</ul>
						</p>
					</f:for>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
	
</f:section>
